---
---
<nav aria-label="Main navigation">
  <ul class="navlist">
    <li><a class="button" href="/">Home</a></li>
    <li><a class="button" href="/projects">Projects</a></li>
    <li><a class="button" href="/blog">Blog</a></li>
    <li><a class="button" href="/about">About</a></li>
    <li><a class="button" href="/contact">Contact</a></li>
  </ul>
</nav>
